data/grav.xyz
data/curv.xyz
code/LocalPath.py
code/GPT_examplehash.py
code/__pycache__/*
code/__pycache__/DBSCANSupport.cpython-311.pyc
code/__pycache__/LocalPath.cpython-311.pyc
code/nonipyDBSCAN.py
code/__pycache__/DBSCANSupport.cpython-311.pyc
code/__pycache__/LocalPath.cpython-311.pyc
data/curv_32.highpass.xyz
code/data/curv_32.highpass.xyz
